@import "tailwindcss";
#backgroundimage{
    background-image: url('/Janwadi/public/Bgimage.jpg');
}
#slidingImageContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#formimg{
    background-image: url('/formbgimg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#Signupbg{
    background-image: url('/formbgimg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}